div {
    font-family: 'Raleway', sans-serif;
}

/* Header section */
#header {
    padding: 100px 0;
    
    background-color: #77DD77;
}

#heading {
    display: block;
    margin-bottom: -20px;
    font-size: 6em;
}

.subheading {
    display: block;
    margin-bottom: 20px;
    font-size: 2.5em;
    clear: both;
}

p {
    font-size: 1.5em;
}

/* Features (coloured background) */
.feature {
    vertical-align: middle;
}

#feature1 {
    background-color: #B19CD9;
}

#feature2 {
    background-color: #FFB347;
}

.feature .subheading {
    margin-top: 100px;
}

/* Photos (examples, photo backgrounds) */
.photo {
    
}

/* Student */
#photo1 {
    background: url(/images/student.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Surfer */
#photo2 {
    background: url(/images/surfer.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Speech */
.speech {
    display: block;
    clear: both;
    max-width: 80%;
    margin-bottom: 10px;
    
    padding: 7px 14px;
    border-radius: 20px;
    
    font-size: 1.3em;
}

.feature .speech:first-child {
    margin-top: 100px;
}

.feature .speech:last-child {
    margin-bottom: 100px;
}

.photo .speech:first-child {
    margin-top: 200px;
}

.photo .speech:last-child {
    margin-bottom: 200px;
}

/* Speech to Weather Lad */
.to {
    float: right;
    background-color: #FDFD96;
}

/* Speech from Weather Lad */
.from {
    float: left;
    color: white;
    background-color: #FF6961;
}

footer {
    min-height: 1000px;
}